@use "../../styles/partials/colors.scss" as *;
@use "../../styles/partials/fonts.scss" as *;
@use "../../styles/partials/layout.scss" as *;

.comment-form {
  @include tablet {
    // margin-right: $padding-between-components-tablet;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  @include desktop {
    margin-right: $padding-between-components-tablet;
  }
}

.form-input-field--small {
  background-color: $alabaster;
  min-height: 2.25rem;
  resize: none;
  width: 100%;
  padding: 0.75rem;
  border-radius: 4px;
  border: 2px solid $mercury;
  @include root-font;
  font-size: 0.95rem;

  @include tablet {
    padding: 1rem;
    min-height: 2.5rem;
    min-width: 15rem;
    height: 2.6rem;
  }

  &::placeholder {
    color: $brainFlix-black;
  }

  &:hover {
    border-color: $brainFlix-blue;
  }
  &:invalid {
    border-color: $error;
  }
}
