@use "../../styles/partials/colors.scss" as *;
@use "../../styles/partials/fonts.scss" as *;
@use "../../styles/partials/layout.scss" as *;

.videoThumbnail {
  max-width: 25rem;
  max-height: 15.625rem;
  min-width: 18.75rem;
  min-height: 9.375rem;
  background-color: $mercury;
  border-radius: 4px;

  @include tablet {
    margin-right: $side-margin-tablet;
  }
}
