@use "../../styles/partials/colors.scss" as *;
@use "../../styles/partials/fonts.scss" as *;
@use "../../styles/partials/layout.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.button {
  height: 2.5rem;
  width: 100%;
  border-radius: 0.25rem;
  margin: 1rem 0;
  cursor: pointer;

  &--primary {
    background-color: $brainFlix-blue;
    border: 2px solid $brainFlix-blue;
    color: $white;

    &:hover {
      background-color: $brainFlix-darkBlue;
      border-color: $brainFlix-darkBlue;
    }
  }
  &--secondary {
    background-color: $white;
    border: none;
    color: $brainFlix-blue;
  }

  @include tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 9.375rem;
    width: fit-content;

    margin: 0;
  }

  & p {
    @include labels-buttons;
    margin: 0;
    text-align: center;
    padding: 0 2rem;
  }
  & img {
    height: 1.25rem;
    float: left;
  }
}
