@font-face {
  font-family: "Avenir Next";
  src: url(../../assets/Font/AvenirNextLTPro-Regular.otf) format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url(../../assets/Font/AvenirNextLTPro-Bold.otf);
  font-weight: 700;
  font-style: normal;
}
.button {
  background-color: #0095FF;
  border-color: #0095FF;
  height: 2.5rem;
  width: 100%;
  border-radius: 0.25rem;
}
@media (min-width: 48rem) {
  .button {
    min-width: 9.375rem;
    padding: 2rem 0;
  }
}
.button p {
  color: #ffffff;
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-weight: 700;
  margin: 0;
  text-align: center;
}
.button img {
  height: 1.25rem;
  float: left;
}
.button:hover {
  background-color: #0065AD;
  border-color: #0065AD;
}