@font-face {
  font-family: "Avenir Next";
  src: url(../../assets/Font/AvenirNextLTPro-Regular.otf) format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url(../../assets/Font/AvenirNextLTPro-Bold.otf);
  font-weight: 700;
  font-style: normal;
}
.next-videos-section {
  padding: 0.5rem 1rem;
}
@media (min-width: 48rem) {
  .next-videos-section {
    padding: 1rem 2.25rem;
    width: 50%;
  }
}
@media (min-width: 80rem) {
  .next-videos-section {
    border-left: 2px solid #e1e1e1;
    min-width: 25rem;
  }
}
.next-videos-section__title {
  color: #afafaf;
  margin: 1.5rem 1rem;
  font-weight: 600;
}
@media (min-width: 48rem) {
  .next-videos-section__title {
    margin: 2.25rem 2.25rem;
  }
}
.next-videos-section__videos-wrapper {
  padding-top: 0.5rem;
}