@font-face {
  font-family: "Avenir Next";
  src: url(../../assets/Font/AvenirNextLTPro-Regular.otf) format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url(../../assets/Font/AvenirNextLTPro-Bold.otf);
  font-weight: 700;
  font-style: normal;
}
.upload-video {
  border-top: 2px solid #e1e1e1;
  padding: 1.5rem 1rem 1rem 1rem;
}
@media (min-width: 48rem) {
  .upload-video {
    padding: 1.5rem 2.25rem 1rem 2.25rem;
  }
}
@media (min-width: 48rem) {
  .upload-video__details-wrapper {
    padding-top: 0.5rem;
    padding-bottom: 1.5rem;
    border-top: 2px solid #e1e1e1;
    border-bottom: 2px solid #e1e1e1;
  }
}
@media (min-width: 80rem) {
  .upload-video__details-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (min-width: 48rem) {
  .upload-video__button-wrapper {
    margin-top: 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
}
@media (min-width: 80rem) {
  .upload-video__form-wrapper {
    width: 100%;
  }
}
