@font-face {
  font-family: "Avenir Next";
  src: url(../../assets/Font/AvenirNextLTPro-Regular.otf) format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url(../../assets/Font/AvenirNextLTPro-Bold.otf);
  font-weight: 700;
  font-style: normal;
}
.videoThumbnail {
  max-width: 25rem;
  max-height: 15.625rem;
  min-width: 18.75rem;
  min-height: 9.375rem;
  background-color: #e1e1e1;
  border-radius: 4px;
}
@media (min-width: 48rem) {
  .videoThumbnail {
    margin-right: 2.25rem;
  }
}