//Primary colors

$brainFlix-black: #323232; //Primary text color
$brainFlix-blue: #0095ff; //Primary CTA color. Active form field outline color
$silver: #afafaf; //Secondary text color. Text Label color.
$white: #ffffff; //Background color. CTA text color.

//Secondary colors

$brainFlix-darkBlack: #000000; //Video player components.
$brainFlix-darkBlue: #0065ad; //CTA hover state color.
$mercury: #e1e1e1; //Divider line. Form field outline color.
$alabaster: #fafafa; //Form field background color.

//Error

$error: #d22d2d;
