@use "./colors.scss" as *;
@use "./layout.scss" as *;

// Weight
$font-weight-regular: 400;
$font-weight-bold: 700;

//Typeface

@font-face {
  font-family: "Avenir Next";
  src: url(../../assets/Font/AvenirNextLTPro-Regular.otf) format("woff2");
  font-weight: $font-weight-regular;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next";
  src: url(../../assets/Font/AvenirNextLTPro-Bold.otf);
  font-weight: $font-weight-bold;
  font-style: normal;
}
