@use "../../styles/partials/colors.scss" as *;
@use "../../styles/partials/fonts.scss" as *;
@use "../../styles/partials/layout.scss" as *;

.next-videos-section {
  padding: 8px $side-margin-mobile;

  @include tablet {
    padding: 16px $side-margin-tablet;
    width: 50%;
  }
  @include desktop {
    border-left: 2px solid $mercury;
    min-width: 25rem;
  }
  &__title {
    color: $silver;
    margin: $padding-before-headlines-mobile $side-margin-mobile;
    font-weight: 600;

    @include tablet {
      margin: $padding-before-headlines-tablet $side-margin-tablet;
    }
  }
  &__videos-wrapper {
    padding-top: 8px;
  }
}
