@use "../../styles/partials/colors.scss" as *;
@use "../../styles/partials/fonts.scss" as *;
@use "../../styles/partials/layout.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.subTitle {
  color: $silver;
  margin: $padding-between-components-mobile 0 0.5rem 0;
  @include section-header;
  font-size: 1rem;
}
