@use "../../styles/partials/colors.scss" as *;
@use "../../styles/partials/fonts.scss" as *;
@use "../../styles/partials/layout.scss" as *;

.header {
  margin: 1rem $side-margin-mobile 0 $side-margin-mobile;

  &__website-logo {
    display: flex;
    justify-content: center;
    max-height: 1.5625rem;
    max-width: 7.5rem;
    margin: 1rem auto;

    @include tablet {
      margin-left: 0;
    }
  }
  @include tablet {
    display: flex;
    justify-content: space-between;
    margin: 1rem $side-margin-tablet;
  }
  @include desktop {
    @include container-desktop;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  #search-input {
    background-image: url("../../assets/Icons/search.svg");
    background-repeat: no-repeat;
    background-position: 6px 10px;
    background-color: $alabaster;
    height: 2.25rem;
    flex-grow: 1;
    padding: 12px 12px 12px 30px;
    border-radius: 4px;
    border: 1px solid $mercury;
    margin-right: 1rem;
    min-height: 36px;
    max-width: 100%;
    border-radius: 4px;
    border: 2px solid $mercury;

    &:hover {
      border-color: $brainFlix-blue;
    }
    &:invalid {
      border-color: $error;
    }

    @include tablet {
      flex-grow: 0;
      min-height: 40px;
      min-width: 240px;
      padding: 16px 16px 16px 30px;
      margin-right: $padding-between-components-tablet;
    }
  }

  #search-form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    @include tablet {
      flex-wrap: nowrap;
      > :nth-child(2) {
        //image tag
        order: 3;
        margin-left: $padding-between-components-tablet;
      }
    }
  }
}

// .form {
//   min-height: 36px;
//   max-width: 100%;
//   border-radius: 4px;
//   border: 1px solid $mercury;
//   padding: 12px;

//   &:active {
//     border: 1px solid $brainFlix-blue;
//   }
//   &:invalid {
//     border-color: $error;
//   }

//   @include tablet {
//     min-height: 40px;
//     min-width: 240px;
//     padding: 16px;
//   }
// }
