@use "../../styles/partials/colors.scss" as *;
@use "../../styles/partials/fonts.scss" as *;
@use "../../styles/partials/layout.scss" as *;

.artist-image {
    background-image: url("../../assets/Images/Mohan-muruge.jpg");
    background-size: cover;
    background-position: center;
    background-color: $mercury;
    border-radius: 50%;
    width: 2.25rem;
    height: 2.25rem;

    @include tablet {
      width: 2.5rem;
      height: 2.5rem;
    }
  }