@use "../../styles/partials/colors.scss" as *;
@use "../../styles/partials/fonts.scss" as *;
@use "../../styles/partials/layout.scss" as *;

.subTitle {
  color: $silver;
  margin: $padding-between-components-mobile 0 8px 0;
  font-weight: 600;

  @include tablet {
    margin: $padding-before-headlines-tablet $side-margin-tablet;
  }
}
