@use "../../styles/partials/colors.scss" as *;
@use "../../styles/partials/fonts.scss" as *;
@use "../../styles/partials/layout.scss" as *;

.current-video-description {
  &__wrapper {
    margin: $padding-between-components-mobile $side-margin-mobile;

    @include tablet {
      margin: $padding-between-components-tablet $side-margin-tablet;
    }
  }
  &__title {
    margin: 0;
    padding-bottom: $padding-after-headlines-mobile;
    border-bottom: 2px solid $mercury;

    @include tablet {
      padding-bottom: 0;
      border: 0;
    }
  }
  &__stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $padding-between-components-mobile 0;
    border-bottom: 2px solid $mercury;

    @include tablet {
      padding-top: 0;
    }

    &-portion {
      padding-right: 3.5rem;

      @include tablet {
        padding-right: 0;
      }
    }

    &-component {
      padding: 0.5rem 0;
      margin: 0;

      &--padding-right {
        @include tablet {
          padding-right: 1.5rem;
        }
      }
      @include tablet {
        display: inline-block;
      }
      &-logo {
        padding-right: 0.5rem;
      }

      &--silver {
        color: $silver;
      }
    }
  }
  &__description-text {
    padding: $padding-between-components-mobile 0;

    @include tablet {
      padding: $padding-between-components-tablet 0;
    }
  }
}
